{
  "parser": "babel-eslint",
  "root": true,
  "extends": ["airbnb", "plugin:react/recommended"],
  "globals": {
    "document": true,
    "fetch": false
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": "off",
    "comma-dangle": ["error", "never"],
    "react/prop-types": [0],
    "react/prefer-stateless-function": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-for": [ 2, {
      "required": {
        "every": [ "id" ]
      }
    }],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["CustomInputLabel"],
      "labelAttributes": ["label"],
      "controlComponents": ["CustomInput"],
      "depth": 3
    }],
    "arrow-body-style": "off",
    "class-methods-use-this": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/no-array-index-key": "warn",
    "jsx-a11y/control-has-associated-label": "warn",
    "jsx-a11y/no-autofocus": "warn",
    "max-classes-per-file": "warn",
    "react/jsx-props-no-spreading": ["off"],
    "camelcase": "off",
    "no-unused-vars": "warn",
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "implicit-arrow-linebreak": "off",
    "import/no-cycle": "off",
    "no-confusing-arrow": "off",
    "no-undef": "warn",
    "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
    "import/prefer-default-export": "warn",
    "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION__", "_id", "_doc"] }]
  }
}